<%  @events.each do |event|  %>
<%= link_to "View details", consumer_consumers_event_path(event.user.consumer, event) %>
<h3> <%= event.location %> </h3>
<h3> <%= event.date %> </h3>
<h3> <%= event.description %> </h3>
<h3> <%= event.tags %> </h3>
<h3> <%= event.budget %> </h3>
<% end %>
