<% if current_user.is_artist? %>
  <%= render 'shared/artist_private_profile' %>
<% else %>
  <%= render 'shared/artist_public_profile' %>
<% end %>


<!-- <div class="profile-banner">
  <div class="banner-content">
    <img src="images/cam.jpeg" class="avatar">
    <h1><%= @artist.first_name %> <%= @artist.last_name %></h1>
     <ul class="list-inline profile-rating">
            <li><i class="fa fa-star"></i></li>
            <li><i class="fa fa-star"></i></li>
            <li><i class="fa fa-star"></i></li>
            <li><i class="fa fa-star"></i></li>
            <li><i class="fa fa-star"></i></li>
        </ul>
    <p><%= @artist.category %> | <%= @artist.location %> | <%= @artist.instagram_handle %></p>

  </div>
</div>
<div class="tabs">
  <a class="tab active" href="#">
    <h2>ABOUT</h2>
  </a>
  <a class="tab" href="#">
    <h2>PORTFOLIO</h2>
  </a>
  <a class="tab" href="#">
    <h2>REVIEWS</h2>
  </a>
  <a class="tab" href="#">
    <%#= button_to "REQUEST", new_artist_consumers_request_path(@artist.id),
    :class => "btn-pamprd", :method => :get %>
  </a>
</div>
<div class="container">
  <div class="row">
  <p><%= @artist.bio %></p>

  </div>

</div>
 -->
