<h1>Your Profile</h1>
<p>Profile Pic: <%= @consumer.profile_img %></p>
<p>Name: <%= @consumer.name %></p>
<p>City: <%= @consumer.city %></p>
<p>Phone Number: <%= @consumer.phone_number %></p>
<p>Instagram: @<%= @consumer.instagram %></p>
