<div class="client-profile-container">
  <div class="row">
    <div class="col-xs-12 col-sm-3">
      <div class="user-profile">
        <%= cl_image_tag @consumer.profile_img, width: 300, height: 300, crop: :fill %>
        <p>Name: <%= @consumer.first_name %> <%= @consumer.last_name %></p>
        <p>Address: <%= @consumer.address %></p>
        <p>Phone Number: <%= @consumer.phone_number %></p>
        <p>Instagram: @<%= @consumer.instagram %></p>

        <p><%= link_to 'Edit Profile', edit_consumer_path %></p>
      </div>
    </div>
    <div class="col-xs-12 col-sm-9">
      <div class="booking-container">
      <%= link_to "Create your own event", new_consumer_consumers_event_path(current_user.consumer) %>
        <h3>Upcoming Bookings</h3>
          <div class="row">
            <% if @confirmed.nil? %>
              <p>You do not have any upcoming bookings</p>
            <% else %>
              <%= render partial: 'shared/confirmed_booking_card' %>
            <% end %>
          </div>
        <h3>Your Pending Bookings</h3>
          <div class="row">
            <% if @pending.nil? %>
              <p>You not not have any pending bookings</p>
            <% else %>
              <%= render partial: 'shared/unconfirmed_booking_card' %>
            <% end %>
          </div>
          <h3>Your Past Bookings</h3>
          <div class="row">
            <% if @past.nil? %>
              <p>You not not have any recent bookings</p>
            <% else %>
              <%= render partial: 'shared/past_booking_card' %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
