<div class="dashboard-container">
  <div class="row">
      <div class="col-xs-12 col-sm-7">
        <div class="row">
          <div class="col-xs-12">
            <div class="artist-profile">
              <div class="row">
                <div class="col-xs-6">
                  <%= cl_image_tag @artist.photo, class: 'profile-pic', width: 300, height: 300, crop: :fill %>
                </div>
                <div class="col-xs-6">
                  <ul class="artist-profile-info">
                    <li><p class="artist-name"><%= @artist.first_name %> <%= @artist.last_name %></p></li>
                    <li><p class="artist-location"><%= @artist.location %></p></li>
                    <li>@<%= @artist.instagram_handle %> - <%= @artist.category %></li>
                    <li><%= @artist.bio %></li>
                    <li><p class="artist-tags"><%= @artist.tags %></p></li>
                    <li><%link_to 'Edit Profile', edit_artist_path(@artist.id) %></li>
                  </ul>

                </div>
              </div>
            </div>
          </div>
        </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="calendar">

          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-5">
      <div class="new-requests">
        <h2>New Requests</h2>
          <%= render partial: 'shared/unconfirmed_booking_listing' %>
      </div>
      <div class="upcoming-bookings">
        <h2>Upcoming Bookings</h2>
          <%= render partial: 'shared/confirmed_booking_listing' %>
      </div>
    </div>
      <%= link_to 'Edit Profile', edit_artist_path(@artist.id) %>

      <div class="calendar">

      </div>

    </div>
  </div>

</div>
