<div id="dashboard-nav-wrapper">
  <%= render partial: 'artists/dashboard/artist_dashboard_nav' %>
</div>

<div id="dashboard-content-wrapper">
  <div class="dashboard-container">
    <div class="dash-tab-content" id="bookings">
      <%= render partial: 'artists/dashboard/artist_bookings' %>
    </div>

    <div class="dash-tab-content hidden" id="calendar">
      <%= render partial: 'artists/dashboard/artist_calendar' %>
    </div>

    <div class="dash-tab-content hidden" id="financials">
      <%= render partial: 'artists/dashboard/artist_financials' %>
    </div>

    <div class="dash-tab-content hidden" id="edit">
      <%= render partial: 'artists/dashboard/artist_financials' %>
    </div>

    <div class="dash-tab-content hidden" id="settings">
      <%= render partial: 'artists/dashboard/artist_financials' %>
    </div>
  </div>
</div>

