<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
    <div class="form">
    <h1 class="form-title">Please update your profile</h1>
<%= simple_form_for @artist, html: {id: 'req'} do |f| %>
  <%= f.input :first_name, required: true %>
  <%= f.input :last_name, required: true %>
   <br>
  <%= f.label :category, "What is your specialty?", required: true %>
  <%= select_tag :category, options_for_select([['Hair', 'hair'], ['Makeup', 'makeup'], ['Hair and Makeup', 'hair and makeup']]),  placeholder: 'Category', class: 'search-form' %>
  <br><br>
  <%= f.text_field :location, placeholder: 'Address', required: true, class: 'search-form', id: 'flat_address' %>

  <%= f.label :travel_range, "How far are you willing to travel? (km)", required: true %>
  <%= f.input :travel_range, label: false, required: true %>

  <%= f.input :instagram_handle, required: false %>

  <%#= f.input :photo, label: "Upload your profile photo" %>
  <%#= f.input :photo_cache, as: :hidden %>

  <%= f.label :artist_services, "Which specific services do you offer? Select at least one."%>
  <%= f.input :artist_services, collection: ['full face makeup', 'wedding makeup', 'blowout', 'hair styling'], placeholder: 'Category', wrapper_html: { class: 'form-group checkbox-group required' }, :as => :check_boxes, include_hidden: false %>

  <%= f.input :bio, required: false %>
  <%= f.input :tags, required: false %>

       <%= f.fields_for :artist_images, ArtistImage.new do |i| %>
     <div class="field">
       <%= i.label :image %><br>
       <%= i.file_field :image, :multiple => true, name: "artist_images[image][]" %>
      <%= i.input :image_cache, as: :hidden %>
     </div>
   <% end %>

  <%= f.button :submit, "Update Profile", class: 'update-profile' %>
<%end%>
</div>
    </div>
  </div>
</div>


