<div class="profile-banner">
  <div class="banner-content">

    <%= cl_image_tag @artist.photo, class: 'artist-profile-pic', width: 300, height: 300, crop: :fill %>
    <h1><%= @artist.first_name %> <%= @artist.last_name %></h1>
     <ul class="list-inline profile-rating">
            <li><i class="fa fa-star"></i></li>
            <li><i class="fa fa-star"></i></li>
            <li><i class="fa fa-star"></i></li>
            <li><i class="fa fa-star"></i></li>
            <li><i class="fa fa-star"></i></li>
            <li class="ratings-number">(21)</li>
        </ul>
    <p><%= @artist.category %> | <%= @artist.location %> | <%= @artist.instagram_handle %></p>
    <%= button_to "REQUEST #{@artist.first_name.upcase}", new_artist_consumers_request_path(@artist.id),
    :class => "btn-pamprd request-btn", :method => :get %>

  </div>
</div>
<div class="tabs">
  <a class="tab active" href="#" data-target="#about">
    <h2>ABOUT</h2>
  </a>
  <a class="tab" href="#" data-target="#portfolio">
    <h2>PORTFOLIO</h2>
  </a>
  <a class="tab" href="#" data-target="#reviews">
    <h2>REVIEWS</h2>
  </a>
</div>
<div class="profile-container">
  <div class="tab-content" id="about">
    <div class="row">
      <div class="col-xs-12 col-sm-7">
      <h2>About me</h2>
        <p><%= @artist.bio %></p>

        <h2>Forte</h2>
        <p><%= @artist.tags %></p>

        <h2>Toolbelt</h2>
        <p>Mac, Nars, etc...</p>
      </div>
      <div class="col-xs-12 col-sm-5">
        <%= render 'shared/artist_prices_card' %>
      </div>
    </div>
  </div>
  <div class="tab-content hidden" id="portfolio">
    <div class="row">
      <div class="col-xs-4 artist-portfolio-image">
        <img src='https://scontent-ort2-1.cdninstagram.com/t51.2885-15/s640x640/sh0.08/e35/20394071_1949177522031932_3697815963949858816_n.jpg' class="portfolio-img" />
      </div>
      <div class="col-xs-4 artist-portfolio-image">
        <img src='https://scontent-ort2-1.cdninstagram.com/t51.2885-15/s640x640/sh0.08/e35/c0.134.1080.1080/20394259_254374725076903_1863279979781947392_n.jpg' class="portfolio-img" />
      </div>
      <div class="col-xs-4 artist-portfolio-image">
        <img src='https://scontent-ort2-1.cdninstagram.com/t51.2885-15/s640x640/sh0.08/e35/20225325_257110314783549_8278444244931182592_n.jpg' class="portfolio-img"/>
      </div>
    </div>
     <div class="row">
      <div class="col-xs-4 artist-portfolio-image">
        <img src='https://scontent-ort2-1.cdninstagram.com/t51.2885-15/s640x640/sh0.08/e35/19932305_1945713632362600_4283869620198178816_n.jpg' class="portfolio-img"/>
      </div>
      <div class="col-xs-4 artist-portfolio-image">
        <img src='https://scontent-ort2-1.cdninstagram.com/t51.2885-15/s640x640/sh0.08/e35/20226077_474019142972882_8921510005736210432_n.jpg' class="portfolio-img"/>
      </div>
      <div class="col-xs-4 artist-portfolio-image">
        <img src='https://scontent-ort2-1.cdninstagram.com/t51.2885-15/s640x640/sh0.08/e35/20394071_1949177522031932_3697815963949858816_n.jpg' class="portfolio-img" />
      </div>
    </div>
  </div>

  <div class="tab-content hidden" id="reviews">
    <!-- <p class="text-center"><%= @artist.first_name %> currently doesn't have any reviews.</p> -->
    <div id="reviews">
    <%= render 'reviews/form', artist: @artist, review: @review %>
      <% if @artist.reviews.blank? %>
        Be the first to leave a review for <%= @artist.first_name %>
      <% else %>
        <% @artist.reviews.each do |review| %>
          <h5><%= review.title %></h5>
          <p><%= review.content %></p>
          <br>
          <%= render 'artists/show', review: review %>
        <% end %>
      <% end %>
    </div>
  </div>

</div>
