<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
<%= simple_form_for @artist do |f| %>
  <%= f.input :first_name, required: true %>
  <%= f.input :last_name, required: true %>
   <br>
  <%= f.label :category, "What is your specialty?", required: true %>
  <%= select_tag :category, options_for_select([['Hair', 'hair'], ['Makeup', 'makeup'], ['Hair and Makeup', 'hair and makeup']]),  placeholder: 'Category', class: 'search-form' %>
  <br><br>
  <%= f.input :location, required: true %>

  <%= f.label :travel_range, "How far are you willing to travel? (km)", required: true %>
  <%= f.input :travel_range, label: false, required: true %>

  <%= f.input :instagram_handle, required: false %>

  <%= f.input :photo, label: "Upload your profile photo" %>
  <%= f.input :photo_cache, as: :hidden %>

  <h2>Enter your personal bio</h2>
  <%= f.input :bio, required: true %>
  <%= f.input :tags, required: false %>

  <%= f.button :submit, "Update Profile" %>
<%end%>
    </div>
  </div>
</div>

