<div class="artist-quotes dash-bookings">
  <h2>Active Quotes</h2>
  <% @active = @my_bids.select { |bid| !bid.consumer_event.date.past? } %>
  <% if @active.empty? %>
    <p style="margin-top: 15px;"> You currently don't have any open quotes </p>
  <% else %>
    <% @my_bids.each do |bid| %>
      <% next if bid.status == 'accepted' %>
      <% next if bid.consumer_event.date.past? %>
        <div class="client-event">
          <div class="row">
            <div class="col-xs-12 col-md-2">
              <%= image_tag bid.consumer_event.user.consumer.profile_img, class:'avatar-large hidden-xs' %>
            </div>
            <div class="col-xs-7 col-md-7">
              <div class="consumer-event-info">

                <%#= link_to consumer_consumers_event_path(bid.consumer_event.user.consumer, bid.consumer_event) do %>
                <%= link_to "#eventModal#{bid.id}", "data-toggle" => "modal" do %>
                  <p class="event-header"><%= bid.consumer_event.description.capitalize.first(20) %>...</p>
                <% end %>
                <p><%= bid.consumer_event.date.strftime('%b %d %Y') %> </p>
                <p><%= bid.consumer_event.location %></p>
              </div>
            </div>
            <div class="col-xs-5 col-md-3">
              <div class="artist-bid-section">
                <p>Your Quote</p>
                <p class="artist-quote-price">$<%= bid.offer_price.to_i %></p>
              </div>
            </div>
          </div>
        </div>

        <!-- event description modal -->
    <div class="modal fade" id='<%="eventModal#{bid.id}"%>' tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Event Details</h4>
          </div>
          <div class="modal-body consumer-event">
              <h2><%= bid.consumer_event.date.strftime('%b %d %Y') %></h2>
              <p>with <strong><%= bid.consumer_event.user.consumer.first_name %> <%= bid.consumer_event.user.consumer.last_name %></strong></p>
              <p><%= bid.consumer_event.location %></p>
              <p>Client Budget: <strong>$<%= bid.consumer_event.budget.to_i%></strong></p>
              <p><%= bid.consumer_event.tags %></p>
              <p><%= bid.consumer_event.description %></p>

          </div>
        </div>
      </div>
    </div>
    <!-- end of modal -->


    <% end %>
  <%end%>
    <%= button_to 'Browse Gigs Near You', eventsearch_path(@artist.id), :method => :get, class: 'btn-pamprd', style: 'margin-top: 40px !important;' %>
</div>
