<div class=“container”>
  <div class=“row”>
    <div class=“col-xs-12 col-sm-6 col-sm-offset-3”>
<%= simple_form_for @consumer do |f| %>
  <%= f.input :name, required: true %>
  <%= f.input :phone_number, required: false %>
  <%= f.input :profile_img, required: true %>
  <%= f.input :instagram, required: false %>

  <%= f.button :submit, "Update Profile" %>
<%end%>
    </div>
  </div>
</div>
