
 <% @confirmed.sort_by(&:date).reverse.each do |request| %>
    <% next if request.date.past? %>
          <div class="booking-listing">
            <div class="row">
              <div class="col-xs-12 col-md-2">
                <%= cl_image_tag Consumer.find_by(user_id: request.user_id).profile_img, class: 'avatar-large hidden-xs', width: 300, height: 300, crop: :fill %>
              </div>
              <div class="col-xs-8 col-md-7">
                <%= link_to artist_consumers_request_path(request.artist_id, request) do %>
                  <p class="booking-date"><%= request.date.strftime('%b %d %Y')%> - <% if !request.time.nil? %>
                    <%= request.time.strftime('%I:%M %p') %> <%end%></p>
                <% end %>
                <p class="booking-date client-booking-name"><%= request.consumer.first_name%> <%=request.consumer.last_name %> </p>
                <p class="booking-category"><%= request.servicename%></p>
                <p class="booking-address"><%= request.address%></p>
              </div>
              <div class="col-xs-4 col-md-3">
                <div class="artist-quote-price">
                  <p class="booking-price">$<%= request.final_price.to_i %></p>
                  <p class="status-confirmed"><%= request.status %></p>

                </div>
              </div>
            </div>
          </div>
  <% end %>
