<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
    <%# raise %>
      <%=  simple_form_for(@consumer_request, :url => artist_consumers_requests_path, :method => :post) do  |f| %>

      <%= f.input :date, required: true %>
      <%= f.input :time, required: true %>
      <%= f.input :address, required: true %>

        <%= f.input :artist_services do %>
          <%= f.select :artist_services, @services.map { |s| ["#{s.name}: #{s.price}", s.id] }, include_blank: false %>
        <% end %>
      <!-- Display the cart -->
      <!-- Display and update the price -->
      <%= f.submit 'Book this artist!', class: 'btn-pamprd' %>
      <p>You will not be charged until the artist accepts this request</p>
      <% end %>
    </div>
  </div>
</div>


