<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
  <div class="form edit-profile-form">
  <h1 class="form-title text-center">Update your profile</h1>
<%= simple_form_for @consumer, html: {id: 'req'} do |f| %>
  <%= f.input :first_name, required: true %>
  <%= f.input :last_name, required: true %>
  <%= f.input :phone_number, required: false %>
  <%= f.text_field :address, placeholder: 'Enter your address (or city name)', class: 'search-form', id: 'flat_address', required: true %>
  <%= f.input :profile_img, label: "Upload your profile photo" %>
  <%= f.input :profile_img_cache, as: :hidden %>
  <%= f.input :instagram, required: false %>
  <%= f.button :submit, "Update Profile", class: 'update-profile', id: 'req-button' %>
<%end%>
</div>
    </div>
  </div>
</div>
