<% if @results.empty? %>
  <p class="text-center">No results.</p>
  <% if user_signed_in? && current_user.is_consumer? %>
  <%= link_to "Create your own event", new_consumer_consumers_event_path(current_user.consumer) %>
  <% end %>
<% end %>

<div class="search-container">
  <% if user_signed_in? && current_user.is_consumer? %>
    <%= link_to "Create your own event", new_consumer_consumers_event_path(current_user.consumer) %>
  <% end %>
    <% @results.each do |artist| %>
    <div class="search-result-card">
      <div class="row">
        <div class="col-xs-12 col-sm-4">
              <% if artist.photo %>
                <div class="search-img-wrapper">
                  <%= image_tag artist.photo %>
                </div>
              <% else %>
                <%= image_tag "http://www.breda.academy/wp-content/uploads/2016/11/best-facial-in-dubai-1.jpg", class: 'search-image', width: 300, height: 300, crop: :fill %>
              <% end %>

          </div>
    <!--       <img src=<%#= artist.photo  %> alt="kudoz" class="product-image hidden-xs"> -->
          <div class="col-xs-12 col-sm-4">
            <div class='search-body'>
              <%= link_to artist_path(artist) do %>
                <h3><%= artist.first_name %> <%=artist.last_name %></h3>
              <%end%>
              <ul class="list-inline profile-rating">
                <li><i class="fa fa-star"></i></li>
                <li><i class="fa fa-star"></i></li>
                <li><i class="fa fa-star"></i></li>
                <li><i class="fa fa-star"></i></li>
                <li><i class="fa fa-star"></i></li>
              </ul>
              <p> <%= artist.category.capitalize %> | <%= artist.location %></p>
              <p><%= artist.bio %></p>

            </div>
          </div>
          <div class="col-xs-12 col-sm-4">
            <div class="search-btn">
        <!--     <div class="product-contact"> -->
              <!-- <a href=""><i class="fa fa-heart"></i></a> -->
              <%= button_to "REQUEST", new_artist_consumers_request_path(artist.id),
              :class => "btn-pamprd", :method => :get %>
            </div>
          </div>
      </div>
    </div>
  <%end%>
</div>
