<!-- <ul class="booking-list"> -->
  <%# @unconfirmed.each do |request| %>
<!--     <li>
      <div class="booking-listing"> -->
      <%#= link_to 'hello', artist_consumers_request_path(current_user.artist, request) %>
       <%#= cl_image_tag Consumer.find_by(user_id: request.user_id).profile_img, class: 'avatar', width: 300, height: 300, crop: :fill %>
<!--         <div class="booking-name">
          <h3></h3> -->
          <!-- <p class="booking-date"> --><%#= request.date.strftime('%b %d %Y, %I:%M%p') %><!-- </p> -->
          <!-- <p class="booking-time"><%#= request.time %></p>
        </div> -->
<!--         <div class="booking-details"> -->
         <!--  <p class="booking-category"><%#= request.servicename%></p> -->
        <!--   <p class="booking-address"><%#= request.address%></p>
        </div>
        <div class="booking-status"> -->
          <!-- <p class="status-unconfirmed"><%#= request.status %></p> -->
   <!--        <p class="booking-price"><%#= request.final_price %></p>
        </div>
      </div>
    </li> -->
  <%# end %>
<!-- </ul> -->

  <% @unconfirmed.sort_by(&:date).each do |request| %>
          <div class="booking-listing">
            <div class="row">
              <div class="col-xs-12 col-md-2">
                <%= cl_image_tag Consumer.find_by(user_id: request.user_id).profile_img, class: 'avatar-large', width: 300, height: 300, crop: :fill %>
              </div>
              <div class="col-xs-8 col-md-7">
                <%= link_to artist_consumers_request_path(request.artist_id, request) do %>
                 <p class="booking-date"><%= request.date.strftime('%A, %d %b %Y %l:%M %p')%></p>
                <% end %>
                <p class="booking-date client-booking-name"><%= request.consumer.first_name%> <%=request.consumer.last_name %> </p>
                <p class="booking-category"><%= request.servicename%></p>
                <p class="booking-address"><%= request.address%></p>
              </div>
              <div class="col-xs-4 col-md-3">
                <div class="artist-quote-price">
                  <p class="status-unconfirmed"><%= request.status %></p>
                  <p class="booking-price">$<%= request.final_price.to_i %></p>
                </div>
              </div>
            </div>
          </div>
  <% end %>
