            <div class="artist-calendar">
                      <div id="bookings">
          <!-- <#% raise %> -->
                <%#= link_to "<", date: @date.prev_month %>
                <h2 id='month'><%= @date.strftime("%B %Y") %></h2>
                <%#= link_to ">", date: @date.next_month %>

                <%= calendar(@date, @time_blocks_by_date)  do |date| %>
                  <%= date.day %>
                  <% if @time_blocks_by_date %>
                  <% if @time_blocks_by_date[date.to_date] %>
                  <ul>
                    <% @time_blocks_by_date[date.to_date].each do |timeblock| %>
                    <%# raise %>
                      <li><%= timeblock.pretty_time %> - <%= link_to timeblock.consumer_name, consumer_consumers_events_path(timeblock.consumer, timeblock.consumer_request)  %>

                      </li>
                      <%#= button_to "Block Day", reserve_day_path(date), :class => "btn-pamprd", :method => :get %>

                      <% end %>
                  </ul>
                  <% end %>

                <% end %>
                <% end %>
              </div>
